<div class="row rowclass">
    <div class="col downloadbuttons">
        <table class="table table-responsive-lg-12-12">
            <thead class="table-secondary btn">
                <tr class="btn">
                    <th class="btn">
                        <button class="button-7" (click)="downloadCSV()">Download as CSV</button>
                    </th>
                    <th class="btn">
                        <button class="button-7" (click)="downloadJSON()">Download as JSON</button>
                    </th>
                    <th class="btn">
                        <button class="button-7 btnWidth" (click)="downloadExcel()">Download Table as Excel</button>
                    </th>
                    <th class="btn">
                        <button class="button-7 btnWidth" (click)="generatePDF()">Download Table as PDF</button>
                    </th>
                </tr>
            </thead>
        </table>
    </div>
</div>
<div class="row rowclass">
    <div class="col downloadbuttons">
        <table class="table table-responsive-lg-12-12">
            <thead class="table-secondary">
                <tr>
                    <th>S.No</th>
                    <th scope="col">
                        Name
                    </th>
                    <th scope="col">
                        Age
                    </th>
                    <th scope="col">
                        Gender
                    </th>
                    <th>
                        DOB
                    </th>
                    <th scope="col">
                        Mobile
                    </th>
                    <th scope="col">Mail</th>
                    <th class="nostringspit">Blood Group</th>
                    <th>College</th>
                </tr>
            </thead>
        
            <tbody>
                <tr *ngFor="let user of data?.users">
                    <td>
                        {{user?.id}}
                    </td>
                    <td>
                        <p>
                            {{user?.lastName}}
                        </p>
                    </td>
                    <td>
                        <p>
                            {{user?.age}}
                        </p>
                    </td>
                    <td>
                        <p>
                            {{user?.gender}}</p>
                    </td>
                    <td>
                        <p class="nostringspit">
                            {{user?.birthDate}}
                        </p>
                    </td>
                    <td>
                        <p class="nostringspit">
                            {{user?.phone}}
                        </p>
                    </td>
                    <td>
                        <p>{{user?.email}}</p>
                    </td>
                    <td>
                        <p>{{user?.bloodGroup}}</p>
                    </td>
                    <td>
                        <p>{{user?.university}}</p>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
  