<div class="outsidecss">
  <div class="insidecss">
    <div class="carousel-container" style="transform: scale(1.5);">
      <div class="carousel-wrapper">
          <div class="carousel">
              <div class="carousel-card">
                <div>
                  <img src="https://i1.sndcdn.com/artworks-000165384395-rhrjdn-t500x500.jpg" style="width: 120px;">
                </div>
              </div>
              <div class="carousel-card">
                <img src="https://i1.sndcdn.com/artworks-000185743981-tuesoj-t500x500.jpg" style="width: 120px;">
              </div>
              <div class="carousel-card">
                <img src="https://i1.sndcdn.com/artworks-000062423439-lf7ll2-t500x500.jpg" style="width: 120px;">
              </div>
              <div class="carousel-card active">
                <img src="https://i1.sndcdn.com/artworks-000028787381-1vad7y-t500x500.jpg" style="width: 120px;">
              </div>
              <div class="carousel-card">
                <img src="https://i1.sndcdn.com/artworks-000064920701-xrez5z-t500x500.jpg" style="width: 120px;">
              </div>
              <div class="carousel-card">
                <img src="https://i1.sndcdn.com/artworks-000108468163-dp0b6y-t500x500.jpg" style="width: 120px;">
              </div>
          </div>
      </div>
      <div class="carousel-buttons">
          <button class="carousel-button" id="prev-button" (click)="prevCard()">Previous</button>
          <button class="carousel-button" id="next-button" (click)="nextCard()">Next</button>
      </div>
    </div>
  </div>
</div>
