.container {
  display: flex;
  align-items: center;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  scroll-behavior: smooth;
  width: 100%; /* Set the container width to 100% */
}
.center-container {
  display: flex;
  justify-content: center; /* Horizontally center content */
  align-items: center; /* Vertically center content */
  height: 70vh; /* Set the container's height to fill the viewport */
}

.box {
  scroll-snap-align: start;
}

    
  ::-webkit-scrollbar {
    height: 0;
  }
  .container::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0.3);
    border-radius: 5px;
  }
  
  .nav-buttons {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    display: flex;
    align-items: center;
    padding: 0.5rem;
  }
  
  .left {
    left: 20px;
  }
  
  .right {
    right: 20px;
  }
  
  .card {
    width: 220px; /* Adjust the card width to fit within the container */
    height: 200px;
    background: gray;
    border-radius: 10px;
    margin-right: 10px; /* Add margin between cards */
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  }
  
  .card-body {
    padding: 1rem;
  }
  
  .card-title {
    font-size: 1.25rem;
    margin-bottom: 0.5rem;
  }
  
  .card-text {
    font-size: 1rem;
  }
  
  .prev,
  .next {
    cursor: pointer;
    padding: 0.25rem;
    color: green;
    font-weight: bold;
    font-size: 1rem;
    transition: 0.6s ease;
    border-radius: 50%;
    user-select: none;
    background-color: transparent;
  }
  
  .prev:hover,
  .next:hover {
    background-color: rgba(0, 0, 0, 0.8);
  }
  .leftIcon{
    width: 50px;
    transform: rotate(180deg);
  }
  .rightIcon{
    width: 50px;
  }
  .empty-space {
    flex-shrink: 0;
    width: 233px; /* Adjust this width to match the width of your cards */
  }
  @media screen and (max-width: 426px) {
    .container {
      width: 60% !important; /* Set the container width to 100% */
    }
    .center-container {
      height: 80vh; /* Set the container's height to fill the viewport */
    }
    .card {
      width: 110px !important;
      height: 120px !important;
    }
    .leftIcon{
      width: 30px;
      transform: rotate(180deg);
    }
    .rightIcon{
      width: 30px;
    }
  }
  @media screen and (max-width: 376px) {
    .container {
      width: 45% !important; /* Set the container width to 100% */
    }
    .center-container {
      height: 65vh !important; /* Set the container's height to fill the viewport */
    }
    .card {
      width: 110px !important;
      height: 120px !important;
    }
    .leftIcon{
      width: 30px;
      transform: rotate(180deg);
    }
    .rightIcon{
      width: 30px;
    }
  }
  @media screen and (max-width: 790px) {
    .container {
      width: 90%; /* Adjust the width for smaller screens */
    }
  
    .card {
      height: 130px; /* Adjust card height for smaller screens */
      margin: 0 5px; /* Adjust margin for smaller screens */
    }
    .center-container {
      height: 68vh !important; /* Set the container's height to fill the viewport */
    }
  }
  @media screen and (max-width: 1440px) {
    .center-container {
      height: 70vh; /* Set the container's height to fill the viewport */
    }
    .card {
      width: 220px; /* Adjust the card width to fit within the container */
      height: 200px;
    }
  }
  @media screen and (max-width: 1024px) {
    .container {
      width: 81%; /* Set the container width to 100% */
    }
    .center-container {
      height: 80vh; /* Set the container's height to fill the viewport */
    }
    .card {
      width: 200px;
      height: 190px;
    }
  }
  
